body {
    background-color: #151414;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin-top: 20px;
}

h1 {
    background-color: #151414; /* Gris clarito para el cabecero */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    color: #761b1b;
    margin: 0;
}

.canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.controls {
    margin-top: 20px;
    text-align: center;
    color: white;
}